<h1 style="text-align: center">Employee Updation</h1>
<hr />
<button
  style="
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 1%;
    border-radius: 10px;
    border: 0px;
  "
>
  <a
    routerLink=""
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    style="text-decoration: none; color: white"
    >Home</a
  >
</button>

<form (ngSubmit)="onSubmit()" style="text-align: center">
  <h3>
    <label for="empid">Employee Id :</label
    ><input
      type="text"
      class="form-control"
      [(ngModel)]="employee.empId"
      id="empid"
      name="empid"
      [readOnly]="true"
      style="background-color: lightgrey"
    />
  </h3>
  <h3>
    <label for="firstName">First Name :</label
    ><input
      type="text"
      class="form-control"
      [(ngModel)]="employee.firstName"
      id="firstName"
      name="firstName"
    />
  </h3>
  <h3>
    <label for="lastName">Last Name :</label
    ><input
      type="text"
      class="form-control"
      [(ngModel)]="employee.lastName"
      id="lastName"
      name="lastName"
    />
  </h3>
  <h3>
    <label for="email">Emp Emailid :</label
    ><input
      type="text"
      class="form-control"
      [(ngModel)]="employee.emailId"
      id="email"
      name="email"
    />
  </h3>
  <button
    type="submit"
    style="
      background-color: blue;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      padding: 1%;
      border: 0px;
    "
  >
    Submit
  </button>
</form>
